#tableBody {
    border: 2px solid black;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-left: 0;
    border-radius: 4px;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #dddddd;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
